apps/src/*.bag
apps/__pycache__
apps/config/__pycache__
apps/outout
apps/outout/*.csv
tests
.vscode
*.pyc
*.jpg
*.png
*.bag
*.csv
.pytest_cache
apps/log/*
apps/log/process_for_videostream.log
*.mp4
*.avi
*.xlsx
*.pickle
*.mat
*.txt
*.tak
poseestimate_mediapipe/config/config.ini
.VSCodeCounter
poseestimate_mediapipe/*.zip
venv/